## **Tratamento do Conjunto de Dados**

In [2]:
import pandas as pd

> Carregando o conjunto de dados como um DataFrame Pandas.

In [3]:
df = pd.read_csv('data\Dados-Abertos.csv', delimiter=';', encoding='latin-1')

In [4]:
df.head()

,Nome Ente,UF,Código Siafi,Código IBGE,Data,Ano,Mês,Tipo Ente,OB,CNPJ do Favorecido,Nome Favorecido,Nome Emenda,Transferência Especial,Categoria Econômica Despesa,Valor
0,Nova Santa Rosa,PR,7979,4117222,42005,2015,janeiro,Município,135098000012015OB800001,77116663000109,MUNICIPIO DE NOVA SANTA ROSA,Emenda Individual,Não,DESPESAS DE CAPITAL,243750
1,Humaitá,RS,8695,4309704,42005,2015,janeiro,Município,135098000012015OB800002,87613139000199,MUNICIPIO DE HUMAITA,Emenda Individual,Não,DESPESAS DE CAPITAL,144300
2,Nova Venécia,ES,5677,3203908,42005,2015,janeiro,Município,135098000012015OB800003,27167428000180,MUNICIPIO DE NOVA VENECIA,Emenda Individual,Não,DESPESAS DE CAPITAL,97500
3,Gravatal,SC,8121,4206207,42005,2015,janeiro,Município,135098000012015OB800004,82926569000147,MUNICIPIO DE GRAVATAL,Emenda Individual,Não,DESPESAS DE CAPITAL,195000
4,Passo de Torres,SC,5541,4212254,42005,2015,janeiro,Município,135098000012015OB800005,95782793000154,MUNICIPIO DE PASSO DE TORRES,Emenda Individual,Não,DESPESAS DE CAPITAL,97500

In [5]:
df.dtypes

Nome Ente                      object
UF                             object
Código Siafi                   object
Código IBGE                     int64
Data                            int64
Ano                             int64
Mês                            object
Tipo Ente                      object
OB                             object
CNPJ do Favorecido              int64
Nome Favorecido                object
Nome Emenda                    object
Transferência Especial         object
Categoria Econômica Despesa    object
Valor                          object
dtype: object

In [6]:
example = df.head(1).copy()
example

,Nome Ente,UF,Código Siafi,Código IBGE,Data,Ano,Mês,Tipo Ente,OB,CNPJ do Favorecido,Nome Favorecido,Nome Emenda,Transferência Especial,Categoria Econômica Despesa,Valor
0,Nova Santa Rosa,PR,7979,4117222,42005,2015,janeiro,Município,135098000012015OB800001,77116663000109,MUNICIPIO DE NOVA SANTA ROSA,Emenda Individual,Não,DESPESAS DE CAPITAL,243750

> Checando se existem valores acima da casa dos milhões para a coluna 'Valor'.

In [7]:
million_unit = 7
(df['Valor'].apply(len) > million_unit).any()

True

> Checando qual o tamanho máximo da string para 'Valor'.

In [8]:
df['Comprimento'] = df['Valor'].apply(len)
df['Comprimento'].max()

11

> Obtendo valores de exemplo para os tamanhos.

In [9]:
max_length = 11
filtered = df[df['Comprimento'] == max_length]
filtered.head()

,Nome Ente,UF,Código Siafi,Código IBGE,Data,Ano,Mês,Tipo Ente,OB,CNPJ do Favorecido,Nome Favorecido,Nome Emenda,Transferência Especial,Categoria Econômica Despesa,Valor,Comprimento
50025,Pernambuco,PE,PE,26,43070,2017,dezembro,Estado,530013000012017OB801718,10571982000125,ESTADO DE PERNAMBUCO,Emenda de Bancada,Não,DESPESAS DE CAPITAL,"68217149,52",11
50026,Pernambuco,PE,PE,26,43070,2017,dezembro,Estado,530013000012017OB801848,10571982000125,ESTADO DE PERNAMBUCO,Emenda de Bancada,Não,DESPESAS DE CAPITAL,"58132127,48",11
50921,Bahia,BA,BA,29,43160,2018,março,Estado,135098000012018OB800139,13937057000163,"SECRETARIA DA AGRICULTURA, PECUARIA, IRRIGACAO...",Emenda de Bancada,Não,DESPESAS DE CAPITAL,"61575657,97",11
50932,Rio Grande do Sul,RS,RS,43,43160,2018,março,Estado,135098000012018OB800154,93021632000112,"SECRETARIA DE AGRICULTURA, PECUARIA E DESENVOL...",Emenda de Bancada,Não,DESPESAS DE CAPITAL,"18779613,45",11
61972,Goiás,GO,GO,52,43252,2018,junho,Estado,135098000012018OB800672,21652711000110,SECRETARIA DE ESTADO DE DESENVOLVIMENTO E INOV...,Emenda de Bancada,Não,DESPESAS DE CAPITAL,"82323934,88",11

> Observou-se uma inconsistência nos dados, na qual alguns valores apresentam precisão até os centavos, enquanto outros não mantêm a mesma precisão decimal para valores na mesma casa decimal.
- 68217149,52 (tamanho 11)
- 1470678,32 (tamanho 10)
- 872142,22 (tamanho 9)
- 203528,5 (tamanho 8)
- 1358175 (tamanho 7)
- 89035,5 (tamanho 7)

## **Geração de Sentenças**

In [10]:
def generate_sentence(data):
    sentence = (
        f"Em {data['Mês']} de {data['Ano']}, o {data['Tipo Ente']} de {data['Nome Ente']} - {data['UF']}, "
        f"com o código Siafi {data['Código Siafi']} e o código IBGE {data['Código IBGE']}, "
        f"recebeu uma transferência no valor de R$ {data['Valor']}. A {data['Nome Emenda']} "
        f"parlamentar classificada como {data['Categoria Econômica Despesa']} teve como favorecido "
        f"o CNPJ {data['CNPJ do Favorecido']}, identificado pelo nome {data['Nome Favorecido']} "
        f"com a ordem bancária {data['OB']}."
    )
    return sentence

In [11]:
df.head(1)

,Nome Ente,UF,Código Siafi,Código IBGE,Data,Ano,Mês,Tipo Ente,OB,CNPJ do Favorecido,Nome Favorecido,Nome Emenda,Transferência Especial,Categoria Econômica Despesa,Valor,Comprimento
0,Nova Santa Rosa,PR,7979,4117222,42005,2015,janeiro,Município,135098000012015OB800001,77116663000109,MUNICIPIO DE NOVA SANTA ROSA,Emenda Individual,Não,DESPESAS DE CAPITAL,243750,6

"Em **janeiro** de **2015**, o **Município** de **Nova Santa Rosa** - **PR**, com o código Siafi **7979** e o código IBGE **4117222**, recebeu uma transferência no valor de R$ **243750**. A **Emenda Individual** parlamentar classificada como **DESPESAS DE CAPITAL** teve como favorecido o CNPJ **77116663000109**, identificado pelo nome **MUNICIPIO DE NOVA SANTA ROSA** com a ordem bancária **135098000012015OB800001**."

In [12]:
print(generate_sentence(df.iloc[0]))

Em janeiro de 2015, o Município de Nova Santa Rosa - PR, com o código Siafi 7979 e o código IBGE 4117222, recebeu uma transferência no valor de R$ 243750. A Emenda Individual parlamentar classificada como DESPESAS DE CAPITAL teve como favorecido o CNPJ 77116663000109, identificado pelo nome MUNICIPIO DE NOVA SANTA ROSA com a ordem bancária 135098000012015OB800001.

In [13]:
sentences = df.apply(generate_sentence, axis=1).to_list()

In [14]:
sentences[1]

'Em janeiro de 2015, o Município de Humaitá - RS, com o código Siafi 8695 e o código IBGE 4309704, recebeu uma transferência no valor de R$ 144300. A Emenda Individual parlamentar classificada como DESPESAS DE CAPITAL teve como favorecido o CNPJ 87613139000199, identificado pelo nome MUNICIPIO DE HUMAITA com a ordem bancária 135098000012015OB800002.'

## **Tokenização e Geração de Embeddings**

In [15]:
df.shape

(295473, 16)

> O conjunto de dados original possui 295.473 registros, contudo, serão utilizados somente 200 registros para fins de teste dada a limitação de recursos computacionais.

In [16]:
# df_reduced = df[df['Ano'] == 2015].copy()
df_reduced = df.head(200)
df_reduced.shape

(200, 16)

In [21]:
sentences = df_reduced.apply(generate_sentence, axis=1).to_list()

In [23]:
from transformers import AutoTokenizer, AutoModel
import torch


#Mean Pooling - Take attention mask into account for correct averaging
def mean_pooling(model_output, attention_mask):
    token_embeddings = model_output[0] #First element of model_output contains all token embeddings
    input_mask_expanded = attention_mask.unsqueeze(-1).expand(token_embeddings.size()).float()
    return torch.sum(token_embeddings * input_mask_expanded, 1) / torch.clamp(input_mask_expanded.sum(1), min=1e-9)

# Load model from HuggingFace Hub
tokenizer = AutoTokenizer.from_pretrained('rufimelo/Legal-BERTimbau-sts-base-ma-v2')
model = AutoModel.from_pretrained('rufimelo/Legal-BERTimbau-sts-base-ma-v2')

# Tokenize sentences
encoded_input = tokenizer(sentences, padding=True, truncation=True, return_tensors='pt')

# Compute token embeddings
with torch.no_grad():
    model_output = model(**encoded_input)

# Perform pooling. In this case, mean pooling.
sentence_embeddings = mean_pooling(model_output, encoded_input['attention_mask'])

print("Sentence embeddings:")
print(sentence_embeddings)

c:\Users\anycs\Documents\MATERIAL_11_PERIODO\PLN\PLN_2024_Silva_Any\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Asking to truncate to max_length but no maximum length is provided and the model has no predefined maximum length. Default to no truncation.

Sentence embeddings:
tensor([[ 0.0906,  0.0222, -0.3287,  ..., -0.3361, -0.0442, -0.2088],
        [ 0.1522, -0.0785, -0.5665,  ..., -0.4697, -0.1172, -0.1869],
        [ 0.1000, -0.2098, -0.4692,  ..., -0.6447, -0.0565, -0.2953],
        ...,
        [ 0.0521, -0.1203, -0.4209,  ..., -0.3549, -0.0737, -0.0823],
        [ 0.0604, -0.1247, -0.4317,  ..., -0.3636, -0.0848, -0.0931],
        [ 0.0656, -0.1519, -0.3773,  ..., -0.3696, -0.0764, -0.0481]])

In [24]:
sentence_embeddings.size()

torch.Size([200, 768])

## Criaçã